{name, "uuid"}.
{authors, ["Michael Truog <mjtruog@gmail.com"]}.
{description, "Erlang Native UUID (v1 & v4) Generation"}.
{homepage, "https://github.com/okeuday/uuid"}.
{rebar_compatible, true}.
{license, "BSD"}.
{url, {git, "https://github.com/okeuday/uuid.git", {branch, "master"}}}.
{applications, [uuid]}.
